
* {
  padding: 0;
  margin: 0;
  min-height: 0;
  border-radius: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
  font-family: "Cantarell", "Inter", sans-serif;
  font-size: 15px;
}

window#waybar {
  color: #ffffff;
  background: #1e1e1e;
}

#mpris,
#window,
#cpu,
#memory,
#wireplumber,
#wireplumber.muted,
#battery,
#battery.critical,
#battery.warning,
#network,
#bluetooth,
#custom-treadmill-steps,
#custom-notification,
#clock {
  font-feature-settings: "tnum";
  color: #dedede;
  margin-right: 3px;
  margin-left: 3px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 4px;
  padding-left: 4px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#workspaces {
  margin: 0;
}

#workspaces button {
  color: #dedede;
  padding: 0px;
}

#workspaces button.focused,
#workspaces button.active {
  color: #3584e4;
}

#window {
  color: #ffffff;
}

#tray {
  padding: 5px;
}

#cpu {
  color: #ff7b63;
}

#memory {
  color: #12d1a2;
}

#wireplumber {
  color: #3584e4;
}

#wireplumber.muted {
  color: #7d7d7d;
}

#mpris,
#battery {
  color: #57e389;
}

#battery.critical {
  color: #e01b24;
}

#battery.warning {
  color: #ff7800;
}

#clock {
  color: #dedede;
}

#network {
  color: #3584e4;
}
#bluetooth {
  color: #3584e4;
}

tooltip {
  background: #242424;
  border: 1px solid #353535;
}

tooltip label {
  color: #ffffff;
}

menu {
    border-radius: 2px;
    background: #161320;
    color: #B5E8E0;
}
menuitem {
    border-radius: 15px;
  margin: 2px;
    padding: 5px;
}

#custom-notification {
  font-family: "NotoSansMono Nerd Font";
  margin: -5px 0;
}
