* {
  all: unset;
}

.sidebar-box {
  background-color: rgba(10, 10, 20, 0.45);
  margin-top: 20px;
}

.cpu-graph {
  min-height: 100px;
}

.loadavg-graph {
  min-height: 100px;
}

.mem-graph {
  min-height: 0px;
}

.disk-graph {
  min-height: 0px;
}

.net-rx-graph {
  min-height: 0px;
}

.net-tx-graph {
  min-height: 0px;
}

.temp-graph {
  min-height: 0px;
}
